<h1>Teste técnico BDMG</h1>
<hello></hello>
<br />

<div>Escreva seu código HTML abaixo:</div>

<blockquote>
  <p><b>Nota:</b> Eu entendi que eram para ser utilizados apenas os arquivos já
    existentes no diretório "/APP". Baseando-me na afirmação:
    "Veja a estrutura de pastas e utilize os arquivos da pasta app". Por isso
    não criei uma Classe para manipular o localStorage</p>

  <p><b>Nota²:</b> O botão submit não funciona caso o formulário  seja
    completamente preechido, ou seja, se o formulario for invalido ele fica
    habilitado. Baseando-me na afirmação:
    "O botão de salvar deve ser bloqueado caso todos os campos do formulário estejam preenchidos"</p>
</blockquote>

<section class="main">
  <ng-container *ngIf="viaCepObservable$ | async">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h3>Formulario ViaCep</h3>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form [formGroup]="viaCepForm" (ngSubmit)="onSubmit()" class="form"
          id="viaCepForm">
          <mat-form-field>
            <mat-label>cep</mat-label>
            <input matInput formControlName="cep">
          </mat-form-field>

          <mat-form-field>
            <mat-label>logradouro</mat-label>
            <input matInput formControlName="logradouro">
          </mat-form-field>

          <mat-form-field>
            <mat-label>complemento</mat-label>
            <input matInput formControlName="complemento">
          </mat-form-field>

          <mat-form-field>
            <mat-label>bairro</mat-label>
            <input matInput formControlName="bairro">
          </mat-form-field>

          <mat-form-field>
            <mat-label>localidade</mat-label>
            <input matInput formControlName="localidade">
          </mat-form-field>

          <mat-form-field>
            <mat-label>uf</mat-label>
            <input matInput formControlName="uf">
          </mat-form-field>

          <mat-form-field>
            <mat-label>gia</mat-label>
            <input matInput formControlName="gia">
          </mat-form-field>

          <mat-form-field>
            <mat-label>ddd</mat-label>
            <input matInput formControlName="ddd">
          </mat-form-field>

          <mat-form-field>
            <mat-label>siafi</mat-label>
            <input matInput formControlName="siafi">
          </mat-form-field>

          <mat-form-field>
            <mat-label>ibge</mat-label>
            <input matInput formControlName="ibge">
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-footer class="form-actions">
        <button form="viaCepForm" type="submit" mat-flat-button
          [disabled]="viaCepForm.valid">
          Salvar rascunho
        </button>
      </mat-card-footer>
    </mat-card>
  </ng-container>
</section>
