blockquote {
  background: #6ae5e04a;
  padding: 16px;
}

.main {
  padding: 64px 32px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-actions {
  padding: 16px;
  text-align: right;
}